body,html{
    padding:0;
    /* overscroll-behavior: none; */
}
h1{
    background-color:silver;
    color:white;
    margin-left:0;
    margin-right:0;
    padding-left:0.5em;
    padding-right:0.5em;
}
.base-panel{
    margin-left:20px; 
    margin-top:20px; 
    margin-right:20px; 
    margin-bottom:12px;
    border:2px solid #808080;
    float : left;
};
.div.viewer{
	/*display : none;*/
	background-color : #FAFAFA;
	position : relative;
	top : -420px;
}
.slider-panel{
	clear : both;
    margin-left:20px; 
    margin-top:0px; 
    margin-right:20px; 
    margin-bottom:20px;
}
.button {
	width : 100px;
	height : 40px;
}
